.edge {
  stroke: rgba(0,0,0,0.1)
}

.node {
  fill: black;
}

.path {
    fill: none !important;
}

#player-0, .player-0 {
  fill: orange;
  stroke: orange;
}

#player-1, .player-1 {
  fill: green;
  stroke: green;
}

#player-2, .player-2 {
  fill: blue;
  stroke: blue;
}

#player-3, .player-3 {
  fill: chartreuse;
  stroke: chartreuse;
}

.player:hover > .path > .bottleneck, .player.hover > .path > .bottleneck {
    animation: stress;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear
}

.player {
    transition: opacity 1s;
}

#topology.dim .player:not(.hover) {
  opacity: 0.3;
  transition: opacity 1s;
}

@keyframes stress {
  from {
    stroke: inherit;
  }

  to {
    stroke: red;
  }
}

.want, .limit, .dragging, #handle-bot, #handle-top {
  cursor: ns-resize;
}

.alloc {
 pointer-events: none;
}

.want, .limit {
  opacity: 0.5
}

#svg {
  width: 100%;
  height: calc(100% - 2em);
  margin: 1em 0;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

#controls {
  text-align: right;
  opacity: 0.2;
}

#controls:hover {
  opacity: 1;
}
